body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

h1 {
    margin-bottom: 30px;
}

#weatherResult img, #forecast img {
    margin-top: 10px;
    width: 100px; /* Adjust as necessary */
}

.card {
    margin: 10px 0;
}

footer {
    margin-top: 50px;
    padding: 20px 0;
    background-color: #007bff;
    color: white;
}

footer a {
    color: #FFD700; /* Change link color */
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
