.alert-section {
    margin-top: 20px;
    padding: 15px;
    background-color: #ffebee; /* Light red background for alerts */
    border: 1px solid #ff5252;
    border-radius: 10px;
}

.satellite-section {
    margin-top: 20px;
    background-color: #f3f3f3;
    padding: 20px;
    border-radius: 10px;
}
.satellite-img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
